build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
*.dSYM
valgrind.log
*/nbproject/private
nbproject/*
main
test
mockoutput
tmc_available_points.txt
tmc_test_results.xml
mockinput
configurations.xml
